body {
    background-image: url("pictures/ping_pong.jpg");
    background-color: black;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#main-content img {
    margin: 0;
    padding: 6rem 0 0 0rem;
}

#main-content h1 {
    border: 6px solid black;
    margin: 6rem 0 0 0;
    font-size: 4rem;
}
.content {
    display: flex;
}

#home-score2 {
    margin: 0 12rem 0 0;
}

.form-div {
    margin-left: 25rem;
    width: 40rem;
    margin-top: 10rem;
    border: 5px solid black;
}
.register {
    display: none;
    padding-left: 15rem;
    background-color: darkgray;
    border-radius: 20px;
    width: 50rem;
}
.login {
    display: none;
    padding-left: 15rem;
    background-color: darkgray;
    border-radius: 20px;
    width: 50rem;
}
#table div {
    width: 30rem;
    border: 10px solid white;
}
#table {
    text-align: center;
    width: 60rem;
    background-color: rgb(27, 27, 250);
}
#profile {
    display: none;
    padding-top: 5rem;
    padding-left: 10rem;
    margin-top: 5rem;
}
#player1 {
    padding-top: 2rem;
}
#player2 {
    padding-top: 2rem;
}
#profile .btn-lg {
    font-size: 10rem;
    background-color: silver;
    width: 20rem;
    height: 14rem;
}
.navbar div button {
    background-color: transparent;
    border: none;
}
form button {
    border-radius: 20px;
}
.reset-game {
    display: none;
    width: 500px;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
}
.register-form {
    display: none;
}
.login-form-div {
    display: none;
}
#minus-score-btn {
    margin-left: 34rem;
}
#invalid-text {
    display: none;
    color: red;
}
.selects {
    display: flex;
}
.new-game {
    display: none;
    width: 30rem;
    margin: 20rem 0 0 30rem;
}
